// Body
$body-bg: #6b757d;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors:(
    "primary": #ffc134,
    "dark": #212529,
    "white": #ffffff,
    "danger": #EB5757,
    "light": #fefefe,
);
